@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden  ;
}

.btn-primary {
  @apply bg-purple-600 text-white font-medium px-4 py-2 rounded-lg hover:bg-purple-700 transition-colors flex items-center gap-2;
}